body{
    
    color: white;
    background: url(submerged_desktop_thumb.jpg) center center;
    min-height:100%;
    background-size:cover ;
}

#Titulo{
    color: red;
    font-size:2em;
    font-family: Arial, Helvetica, sans-serif;

}

#FECHA{
    font-family: cursive;
}

#NOTA{
    font-size:1.5em;
    font-family: Arial, Helvetica, sans-serif;

}
#MOSTRAR{
    font-family: Arial, Helvetica, sans-serif
    color: darkred;
}