body{
    
    color: white;
    background: gray;
}

#Titulo{
    color: darkred;
    font-size:2em;
    font-family: sans-serif;

}

#FECHA{
    font-family: cursive;
}

#NOTA{
    font-size:1.5em;
    font-family: arial;

}
#MOSTRAR{
    font-family: cursive;
    color: darkred;
}

#MOSTRAR2{
    font-family: cursive;
    color: darkred;
    
#Ej.{
    font-size: 1.5em
}
h4{
    font-size:1.5em;
    font-family: monospace;
}